.innerCaption{
    flex: 1 1 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-inline: calc(var(--spacing) * 1);
    border: 1px solid white;
    height: 800px;
}
select {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #444;
  padding: 8px 12px;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}

select option {
  background-color: #1e1e1e;
  color: #ffffff;
}
select:focus {
  border-color: #777;
}
