select{
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid #444;
    padding-left: 20px;
    padding: 8px 12px;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    option{
        background-color: var(--bg-color);
        color: var(--text-color);
    }
}

@media (max-width:750px) {
    .rightPart{
        display: none;
    }
    .leftPart{
        padding: 1px !important;
    }
    .middleWhr{
        display: none;
    }
}

.middleWhr{
    input{
        all: unset;
        padding: 10px;
        width: 30vw;
        border: 1px solid rgb(244, 214, 81);
        font-size: 13px;
        padding-left: 32px;
        border-radius: 16px;
    }
    input:focus{
        border-color: rgb(255, 149, 0) !important; 
        box-shadow: 0 0 15px 2px rgba(207, 173, 19, 0.562);
    }
}
.activeAbMenu.absoluteMenu{
    opacity: 1;
    left: 0px;
    border-radius: 10px;
    box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.419);
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px 1px 1px 0px;
}
.absoluteMenu{

    ul{
       
        li{
            width: 100%;
            padding: 2px;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: row;
            a{
                display: flex;
                align-items: center;
                flex-direction: row;
            }
        }
    }
}
.tree {
  position: relative;
  padding-left: 16px;
  border-left: 2px solid gray;
}

.tree li {
  position: relative;
  padding-left: 12px;
}

.tree li::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  width: 12px;
  height: 2px;
  background: gray;
  transform: translateY(-50%);
}

.navBar {
  ul {
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      position: relative;
      font-weight: 500;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        width: 80%;
        height: 5px;
        border-radius: 4px;
        background-color: var(--p-text-color);
        transform-origin: center;
        transition: transform 0.7s ease-in-out;
      }

      &:hover::after {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }
}

.navSlider::after{
    transform: translateX(-50%) scaleX(0.8) !important;
}

.capBtn{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px; width: 35px;
  border-radius: 50%;
  overflow: hidden;

  i{
    font-size: larger;
  }
}


.ControllerbaseCon{
  position: relative;
  .leftDiv,.rightsideDiv{
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  .leftDiv{
    /* border-right: 1px solid var(--p-text-color); */
    .selectionDiv{
      width: 100%;
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 10px;
    }
  }

  .rightsideDiv{
    height: 100%;
    flex-direction: column !important;
  }
  .shadOption{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;

      p{
        font-size: small;
        padding: 2px;
        color: gray;
        border-radius: 8px;
        border: 1px solid gray;
        cursor: pointer;
        transition: all .7s ease-in;

        &:hover{
          color: var(--p-text-color);
          border-color: var(--p-text-color) !important;
        }
      }
    }
}

.activeOpTrue{
  font-weight: bold;
  color: rgb(6, 206, 6) !important;
  border-color: rgb(6, 206, 6) !important;
}

.activeOpFalse{
  font-weight: bold;
  color: rgb(206, 6, 6) !important;
  border-color: rgb(206, 6, 6) !important;
}

.postCommitBtn{
  position: relative;
  div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transform: translateX(32px);
    transition: all .7s;
  }

  &:hover{
    div{
      gap: 10px;
      transform: translateX(0px);
    }
  }
}

.postingCommitBtn{
  

  div{
    transform: translateX(0px);
    animation: infSlider 2s forwards;
    span{
      display: none;
    }
    i{
      rotate: 0deg;
    }
    
  }
}

@keyframes infSlider {
  from{
    transform: translateX(-50%) translateY(6px) rotate(10deg);
  }
  to{
    transform: translateX(100%) translateY(-20px) rotate(-45deg);
  }
}

.baseContainerReset{
  box-shadow: 0 0 20px 6px rgba(105, 105, 105, 0.419);
  border-radius: 16px;
}

@media (max-width:1024px) {
  .baseContainerReset{
    
    .leftSideReset{
      display: none;
    }
  }
}

@media (max-width:500px) {
  .baseContainerReset{
    width: 100%;
  }
}

.comSpace{
  box-shadow: 0 0 25px 6px rgba(105, 105, 105, 0.419);
}

.singlePost{
  background-color: var(--bg-color);
  box-shadow: inset 0 0 20px 6px rgba(105, 105, 105, 0.419);

  .crntTodo{

    .TodoInner{
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 5px;
      cursor: pointer;

      &:hover{
        color: var(--text-color);
      }

      i{
        font-size: x-large;
      }
      span{
        font-size:12px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }

}

.caption-1-5-lines {
  display: -webkit-box;
  overflow: hidden;
  line-height: 1.2rem;        
  max-height: calc(1.2rem * 1);      /* 1.5 lines */
}

.miniDropHome{
  padding: 10px;
  background: linear-gradient(136deg,#110e0e,#252525);
  z-index: 99;
  border-radius: 16px;

  ul{
    height: 100%; width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    li{
      padding: 5px;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid gray;
      cursor: pointer;
    }
  }
}

.mainSwitchBtn{

  &:hover .miniDropSwitch{
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }

  .miniDropSwitch{
    border: 1px solid white;
    padding: 10px;
    position: absolute;
    bottom: -10px;
    visibility: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    text-wrap: nowrap;
    z-index: 2;
    border-radius: 10px;
    background: rgba(33, 33, 33, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: .3;
    transform: translateX(100%);
    transition: all .7s;

    button{
      cursor: pointer;
      font-size: larger;
    }
  }
}
.rightHome{
  flex: 0 0 1;
  padding: 4px;
}

@media (max-width: 1022px) {
  .rightHome{
    display: none;
  }

  .commentAndImage{
    height: 95% !important;
    width: 97% !important;
  }
  .closeBtn{
    top: -10px !important;
  }
}


.thonePrincess{
  position: absolute;
  height: 100dvh !important;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(50, 50, 105, 0.219);
  backdrop-filter: blur(10px);
  z-index: 21;
  -webkit-backdrop-filter: blur(10px);
}

@media (max-width:751px) {
  .commentAndImage{
    padding-top: 20px;
    height: 100% !important; width: 100% !important;
    .ImageCon{
      display: none !important;
    }
  }
}

.innerHalfLab{
  flex: 1;
  border: 2px solid rgb(6, 206, 6);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.rotate180deg{
  animation: rotate180cog .7s forwards;
}

@keyframes rotate180cog {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(180deg);
  }
}

.loading-anim{
  background-size: 200% 200%;
  background-position: 100% 150%;
  animation: 2s backgroundPositionAnim infinite;
  animation-direction: reverse;
}

@keyframes backgroundPositionAnim {
  0%{
    background-position: 100% 100%;
  }
  100%{
    background-position: 200% 200%;
  }
}
