select{
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid #444;
    padding-left: 20px;
    padding: 8px 12px;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    option{
        background-color: var(--bg-color);
        color: var(--text-color);
    }
}

@media (max-width:750px) {
    .rightPart{
        display: none;
    }
    .leftPart{
        padding: 1px !important;
    }
    .middleWhr{
        display: none;
    }
}

.middleWhr{
    input{
        all: unset;
        padding: 10px;
        width: 30vw;
        border: 1px solid rgb(244, 214, 81);
        font-size: 13px;
        padding-left: 32px;
        border-radius: 16px;
    }
    input:focus{
        border-color: rgb(255, 149, 0) !important; 
        box-shadow: 0 0 15px 2px rgba(207, 173, 19, 0.562);
    }
}
.activeAbMenu.absoluteMenu{
    opacity: 1;
    left: 0px;
    border-radius: 10px;
    box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.419);
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px 1px 1px 0px;
}
.absoluteMenu{

    ul{
       
        li{
            width: 100%;
            padding: 2px;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: row;
            a{
                display: flex;
                align-items: center;
                flex-direction: row;
            }
        }
    }
}
.tree {
  position: relative;
  padding-left: 16px;
  border-left: 2px solid gray;
}

.tree li {
  position: relative;
  padding-left: 12px;
}

.tree li::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  width: 12px;
  height: 2px;
  background: gray;
  transform: translateY(-50%);
}

.navBar {
  ul {
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      position: relative;
      font-weight: 500;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        width: 80%;
        height: 5px;
        background-color: var(--p-text-color);
        transform-origin: center;
        transition: transform 0.7s ease-in-out;
      }

      &:hover::after {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }
}

.navSlider::after{
    transform: translateX(-50%) scaleX(0.8) !important;
}

.capBtn{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px; width: 35px;
  border-radius: 50%;
  overflow: hidden;

  i{
    font-size: larger;
  }
}