.roketFire::after{
    content: "";
    width: 10px;
    height: 10px;
    background: orange;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    bottom: 1px;
}

.roketFire:hover::after{
    opacity: 1;
}

.onHoverDiv {
    display: none;
}

.starAnimActive {
    position: absolute !important;

    span {
        display: none;
    }
    .onHoverDiv{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            gap: 8px;
            transition: all .7s;
  
            padding-right: 5px;
            top: -20px;
            left: 5px;
            height: 40px;
            width: 60px;
            background-color: var(--bg-color);
            border-radius: 15px;
            overflow: hidden;
            

            .svgHolderR {
                position: absolute;
                bottom: 10px;
                left: 5px;
                transform: rotate(20deg);
                animation-timing-function: ease-in-out;
        will-change: transform;
                animation: rocketLoun .7s forwards;

            }
            .svgMoverR{
                height: 15px;
                width: 15px;
                z-index: 1;
            }

            .starStarHolder {
                position: absolute;
                top: 5px; right: 0px;
                animation-timing-function: ease-in-out;
                will-change: transform;
                animation-delay: .4s !important;
                animation: starBounce .7s forwards;
                z-index: 2;

            }
            .svgMover {
                height: 13px; width: 13px;
                color: var(--text-color);
            }
        }

}


@keyframes rocketLoun {

    0% {
        transform: translateX(-10px)
                   translateY(10px)
                   rotate(0deg)
                   scale(1.5);
    }

    80%{
        opacity: .7;
    }
    100% {
        transform: translateX(50px)
                   translateY(-15px)
                   rotate(90deg)
                   scale(1);
        opacity: 0;
    }
}


@keyframes starBounce {

    0% {
        transform: translateX(0px)
                   translateY(0px)
                   rotate(0deg)
                   scale(1);
    }

   
    100% {
        transform: translateX(-45px)
                   translateY(10px)
                   rotateX(360deg)
                   scale(2);
        display: none;
    }
}

.cstm-Bg {
    background-color: rgba(7, 7, 27, 0.7);
    border-radius: 16px;
    border: 1px solid rgba(0, 255, 255, 0.236);
}

.svgOnWH {
    font-size: 35px;
    padding: 4px;
    cursor: pointer;
}

.customNotiContainer {
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(0, 255, 255, 0.132);
    height: 75px; width: 100%;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

.NotiIcons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 8px; */

    .svgHolderNI {
        height: 35px; width:  35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .endictDot {
        height: 8px; width: 8px;
        border-radius: 50%;
        background: rgb(47, 109, 255);
    }
}


.NotiTextdiv {
    flex: 5;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 2px;
    font-size: 12px;

    span {
        color: rgb(0, 140, 255);
    }

    .statusP {
        span {
            font-weight: bold;
            color: var(--color-skin-ptext);
        }
    }
    
    .timeLine {
        color: color-mix(in srgb, var(--color-skin-ptext) 45%, transparent);
    }
}

.imgOrGo {
    flex: 1;
    padding: 5px;
  

    img {
        align-self: center;
        height: 35px;
        width: auto;
    }
}

.cursorIL {
  animation: blick 1s infinite;
}

@keyframes blick {
    50% {
    opacity: 0;
  }
}

@media (max-width:641px) {
    .mobileMenu {
        height: 60px; width: 100%;
        position: fixed;
        left: 0px;
        bottom: 3px;
        color: var(--text-color);

        ul {
            height: 100%; width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                height: 100%;

            }
        }
    }
}

@media (max-width:1101px) {
    ul {
        gap: 0px !important;
        
        li {
            font-size: 13px !important;
            .menuTxtDiv {
                padding-top: 5px;
                
                p {
                    display: none !important;
                }
            }

            .svgAnim {
                height: 20px !important;
                width: 20px !important;
            }
        }
        .countDot {
            display: none !important;
        }
    }
}